@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-image: url('/fondo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

.fondo{
    background-image: url('/fondo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}